.ben-content
{    
    height: 100%;
    margin: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.ben-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    margin: 15px;
}

.ben-content-container
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    margin: 15px;
}
